body{
    font-family: "Oxanium", cursive;
    background: #000000;
    color: #ffffff;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.selecao-de-personagens {
    display: flex;
    align-items: center;
}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}
